@using Jpp.DesignCalculations.Engine.Project
@using Nautilus.Client.Data
@inject NavigationManager _nav;
@inject IEnumerable<IProjectSource> _projectSources;


<div class="summary">
    <div class="title">
        <h3>
            @Name
        </h3>
    </div>
    <div class="footer">
        <button class="icon" @onclick="CreateProject">
            <span class="oi oi-plus" />
        </button>
    </div>
</div>

@code {
    [Parameter]
    public Project Project { get; set; }

    [Parameter]
    public string Name { get; set; }

    private void CreateProject()
    {
        _nav.NavigateTo($"newproject/{Project.Id}");
    }
}
